<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clean.cleanssakssak.diary.DiaryMapper">
    <insert id="insDiary" useGeneratedKeys="true" keyProperty="diaryId">
        INSERT INTO t_diary
        SET user_id = #{loginedUserId},
            title = #{title},
            contents = #{contents}
    </insert>

    <insert id="insDiaryPics">
        INSERT INTO t_diary_pic
        (diary_id, pic)
        VALUES
        <foreach collection="pics" item="pic" separator=",">
            (#{diaryId}, #{pic})
        </foreach>
    </insert>

    <select id="selDiaryAll">
        SELECT A.diary_id AS diaryId, B.nickname, A.title, A.contents, A.created_at AS createdAt
        FROM t_diary A
        JOIN t_user B
        USING (user_id)
        WHERE user_id = #{loginedUserId}
        AND is_del = 0
        ORDER BY diary_id DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <select id="selPicAll">
        SELECT diary_id AS diaryId, pic
        FROM t_diary_pic
        WHERE diary_id
        <foreach collection="diaryIdList" item="diaryId" open="IN (" close=")" separator=",">
            #{diaryId}
        </foreach>
    </select>

    <delete id="delDiary">
        UPDATE t_diary
        SET is_del = 1
        WHERE diary_id = #{diaryId} AND user_id = #{loginedUserId}
    </delete>

    <delete id="delDiaryPics">
        DELETE B
        FROM t_diary A
        LEFT JOIN t_diary_pic B
        ON A.diary_id = B.diary_id
        WHERE A.diary_id = #{diaryId} AND A.user_id = #{loginedUserId}
    </delete>

    <update id="updDiary">
        UPDATE t_diary
        SET title = #{title},
            contents = #{contents}
        WHERE diary_id = #{diaryId} AND user_id = #{loginedUserId}
    </update>
</mapper>