<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clean.cleanssakssak.diary.DiaryMapper">
    <insert id="insDiary" useGeneratedKeys="true" keyProperty="diaryId">
        INSERT INTO diary
        SET user_id = #{loginedUserId},
            title = #{title},
            contents = #{contents}
    </insert>

    <insert id="insDiaryPics">
        INSERT INTO diary_pic
        (diary_id, pic)
        VALUES
        <foreach collection="pics" item="pic" separator=",">
            (#{diaryId}, #{pic})
        </foreach>
    </insert>

    <update id="updDiary">
        UPDATE user
        SET title = #{title},
            contents = #{contents}
        WHERE user_id = #{loginedUserId} AND diary_id = #{diaryId}
    </update>

    <select id="selDiaryAll">
        SELECT diary_id AS diaryId, title, contents, created_at AS createdAt
        FROM diary
        WHERE user_id = #{loginedUserId}
        ORDER BY diary_id DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <select id="selPicAll">
        SELECT diary_id AS diaryId, pic
        FROM diary_pic
        WHERE diary_id
        <foreach collection="diaryIdList" item="diaryId" open="IN (" close=")" separator=",">
            #{diaryId}
        </foreach>
    </select>
</mapper>