<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clean.cleanssakssak.todo.TodoMapper">
    <insert id="insTodo" useGeneratedKeys="true" keyProperty="todoId">
        INSERT INTO todo
        SET user_id = #{loginedUserId},
            cleaning = #{cleaning},
            do_day = #{doDay}
    </insert>
    
    <select id="selTodoAll">
        SELECT todo_id AS todoId, cleaning,
            do_day AS doDay, is_checked AS isChecked
        FROM todo
        WHERE user_id = #{loginedUserId}
        AND is_del != 1
        ORDER BY do_day
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <update id="updTodo">
        UPDATE todo
        SET cleaning = #{cleaning},
            do_day = #{doDay}
        WHERE (todo_id, user_id) = (#{todoId}, #{loginedUserId})
    </update>

    <update id="delTodo">
        UPDATE todo
        SET is_del = (1 - is_del)
        WHERE (todo_id, user_id) = (#{todoId}, #{loginedUserId})
    </update>

    <update id="toggleCheck">
        UPDATE todo
        SET is_checked = (1 - is_checked)
        WHERE (todo_id, user_id) = (#{todoId}, #{loginedUserId})
    </update>
</mapper>