<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clean.cleanssakssak.todo.TodoMapper">
    <insert id="insTodo" useGeneratedKeys="true" keyProperty="todoId">
        INSERT INTO todo
        SET user_id = #{userId},
            cleaning = #{cleaning},
            do_day = #{doDay},
            is_checked = #{isChecked},
            is_del = #{isDel}
    </insert>
    
    <select id="selTodoAll">
        SELECT todo_id AS todoId, cleaning, do_day AS dDay
        FROM todo
        WHERE user_id = #{loginedUserId}
        AND is_checked != 1
        LIMIT #{startIdx}, #{rowCount}
    </select>
</mapper>